<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">

<title>{{ page.title }} | {{ site.site_title }}</title>

<link href="{{ site.baseurl }}/index.rdf" type="application/rss+xml" rel="alternate" title="{{ site.title }} Feed">

<link rel="stylesheet" href="{{ "css/syntax.css" }}">

<link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" type="text/css" href="css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/customstyles.css">
<link rel="stylesheet" type="text/css" href="css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" type="text/css" href="css/theme-green.css">

<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/jquery.cookie.min.js"></script>
<script src="js/vendor/jquery.navgoco.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="js/vendor/bootstrap.min.js"></script>
<!-- Anchor.js -->
<script src="js/vendor/anchor.min.js"></script>

<script src="{{ "js/toc.js" }}"></script>
<script src="{{ "js/customscripts.js" }}"></script>

<link rel="icon" type="image/svg" href="{{ "images/favicon.svg"  }}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
